<!DOCTYPE html>
<html>
<head>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div style="margin-left: 100px;margin-right: 100px;">
  <div id="app">
    <v-app>
        <v-row align="center" justify="space-around">
            <v-switch v-model="disabled" class="ma-2" label="Disabled"></v-switch>
            <v-switch v-model="readonly" class="ma-2" label="Readonly"></v-switch>
            <v-switch v-model="chips" class="ma-2" label="Chips"></v-switch>
            <v-switch v-model="multiple" class="ma-2" label="Multiple"></v-switch>
            <!-- <v-switch v-model="appendIcon" class="ma-2" label="Append icon"></v-switch>
            <v-switch v-model="appendSlot" class="ma-2" label="Append slot"></v-switch>
            <v-switch v-model="appendItemSlot" class="ma-2" label="Append item slot"></v-switch>
            <v-switch v-model="prependIcon" class="ma-2" label="Prepend icon"></v-switch>
            <v-switch v-model="prependSlot" class="ma-2" label="Prepend slot"></v-switch>
            <v-switch v-model="prependItemSlot" class="ma-2" label="Prepend item slot"></v-switch>
            <v-switch v-model="selectSlot" class="ma-2" label="Selection slot"></v-switch> -->
            <v-col cols="12">
              <v-container fluid grid-list-xl>
                <v-layout wrap align-center>
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      v-model="model"
                      :items="items"
                      :disabled="disabled"
                      :readonly="readonly"
                      :chips="chips"
                      :multiple="multiple"
                      label="Label"
                    ></select>
                  </v-flex>
            
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      v-model="model"
                      :items="items"
                      :disabled="disabled"
                      :readonly="readonly"
                      :chips="chips"
                      :multiple="multiple"
                      filled
                      label="Label"
                    ></select>
                  </v-flex>
            
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      :items="items"
                      label="Outlines"
                      outlined
                    ></select>
                  </v-flex>
            
                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      v-model="model"
                      :items="items"
                      :disabled="disabled"
                      :readonly="readonly"
                      :chips="chips"
                      :multiple="multiple"
                      label="Label"
                      solo
                    ></select>
                  </v-flex>

                  <v-flex xs12 sm6 d-flex>
                    <v-select
                      v-model="model"
                      :items="items"
                      label="Favorite Fruits"
                      multiple
                    >
                      <template v-slot:prepend-item>
                        <v-list-item
                          ripple
                          @click="toggle"
                        >
                          <v-list-item-action>
                            <v-icon :color="selectedFruits.length > 0 ? 'indigo darken-4' : ''">{{ icon }}</v-icon>
                          </v-list-item-action>
                          <v-list-item-content>
                            <v-list-item-title>Select All</v-list-item-title>
                          </v-list-item-content>
                        </v-list-item>
                        <v-divider class="mt-2"></v-divider>
                      </template>
                    </v-select>
                  </v-flex>
                </v-layout>
              </v-container>

              

                <!-- <v-icon v-if="appendSlot" slot="append" color="green">mdi-plus</v-icon>
                <v-icon v-if="prependSlot" slot="prepend" color="red">mdi-minus</v-icon>
                <v-icon v-if="appendItemSlot" slot="append-item">mdi-contain-end</v-icon>
                <v-icon v-if="prependItemSlot" slot="prepend-item">mdi-contain-start</v-icon> -->
                <!-- <template v-if="selectSlot" v-slot:selection="{ item, index }">
                  <v-chip v-if="index === 0">
                    <span>{{ item }}</span>
                  </v-chip>
                  <span
                    v-if="index === 1"
                    class="grey--text caption"
                  >(+{{ model.length - 1 }} others)</span>
                </template> -->
              
            </v-col>
          </v-row>
    </v-app>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="Script.js"></script>
</body >
</html>